<form action="/" method="post">
  <div class="form-group">
    <label for="nome">nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      placeholder="nome"
    />
  </div>
  <div class="form-group">
    <label for="id">id</label>
    <input
      type="text"
      class="form-control"
      id="id"
      name="id"
      placeholder="Enter ID"
    />
  </div>
  <button type="submit" class="btn btn-primary">Adicionar Carro</button>
</form>